{% extends "base.html" %}
{% block title %}
    <title>{{ code.title }} - Cimple</title>
{% endblock title %}
{% block content %}
    {% load static %}
    <script src="{% static "highlight.pack.js" %}"></script>
    <div class="navi"><a href="{% url 'code:index' %}">Cimple</a> > {{ code.title }} </div>
    <div class="code-title">
        {{ code.title }}
    </div>
    <div class="code-text">
        <pre><code>{{ code.code_text }}</code></pre>
    </div>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock content %}
